@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3C3C3C;
  --secondary: #FFC300;
  --background: #F5F5F5;
  --teal: #087E8B;
  --gray: #D6D6D6;
  --dark-gray: #5D5F71;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
